CREATE DATABASE [database_security_lab];
GO
USE [database_security_lab];
GO
CREATE ROLE [soc_analyst];
GO
--A criação das quatro tabelas (`departments`, `users`, `devices`, `logs`):**

CREATE TABLE [dbo].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[name] [varchar](100) NOT NULL UNIQUE
);
GO

CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[username] [varchar](50) NOT NULL UNIQUE,
	[email] [varchar](100) NOT NULL UNIQUE,
	[password_hash] [varchar](255) NOT NULL,
	[department_id] [int] NULL,
	[created_at] [datetime2](7) DEFAULT (getdate())
);
GO

CREATE TABLE [dbo].[devices](
	[id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[hostname] [varchar](100) NOT NULL,
	[ip_address] [varchar](45) NOT NULL,
	[os] [varchar](50) NULL,
	[owner_id] [int] NULL
);
GO

CREATE TABLE [dbo].[logs](
	[id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[user_id] [int] NULL,
	[action] [varchar](100) NOT NULL,
	[ip_address] [varchar](45) NOT NULL,
	[created_at] [datetime2](7) DEFAULT (getdate())
);
GO

--As restrições de chaves (`FOREIGN KEY`)
```sql
ALTER TABLE [dbo].[devices] ADD FOREIGN KEY([owner_id]) REFERENCES [dbo].[users] ([id]) ON DELETE SET NULL;
GO

ALTER TABLE [dbo].[logs] ADD FOREIGN KEY([user_id]) REFERENCES [dbo].[users] ([id]) ON DELETE SET NULL;
GO

ALTER TABLE [dbo].[users] ADD FOREIGN KEY([department_id]) REFERENCES [dbo].[departments] ([id]) ON DELETE SET NULL;
GO
